
.is-loading {overflow: hidden;}

.lmbd-container{
  margin-top:15%;
  margin-left:25%;
}
.lmbd-techs{
  margin-top: -13%;
  margin-left: 0px;
  font-size: 40px;
}
.lmbd-techs ul li{
  display: inline-block;
}
.lmbd-techs li a{
  display: block;
  color: black ;
}
.lmbd-github-icon{
  margin-top: -15%;
}
.lmbd-github-icon a{
  font-size: 25px;
}
.lmbd-email{
  font-family:Courier New, Courier, monospace;
}
.lmbd-email i{
  font-size: 7px;
}
#nima{
  font-size: 13px;
}
img {
    width: 300px;
    height: 340px;
}

.loader {
  color: #000;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 30vh;
  opacity: 0.8;
}
.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
          animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
  background-color: @background-color;
  background: #fff;
}
@loader-color: #fff;
@loader-size: 30vh;
